/* first section start here */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%; 
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(6.png);
    background-repeat: no-repeat;
}
/* first section end here */
/* second section start here */
.second-div{
    display: flex;
}
.dream-big{
    background-image: url(9.png);
    background-repeat: no-repeat;
    background-position: right ;
}
/* second section end here */
/* third section start here */
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-developer{
    border-left: 7px solid gray;
}
#baby-web-developer{
    border-left: 7px solid blue;
}

/* third section end here */
/* footer section start here */
footer p{
    text-align: center;
    color: gray;
}
/* footer section end here */